body {
	font-family: arial;
	padding: 40px;
	border-style: solid;
	border-color: black;
	width: 100%;
}

p {
	width: 80%;
	text-align: center;
}

.nav li {
	display: inline;
}

a:link {
	color: #666;
}

a:visited {
	color: #666
}

a:hover {
	color: pink;
}

a:active {
	color: purple;
}

.content {
	margin: 0 auto;
	width: 500px;
	
	height: auto;
	text-align: left;
}

#sidebar {
	float: right;

}

#footer {
	clear: both;
}


.contentspan {
	color: teal;
}

.headerspan {
	color: red;
}

.footerspan {
	color: blue;
}

.sidebarspan {
	color: orange;
}


.caption {
	position: absolute;
	bottom: 20px;
	right: 500px;
}

.nav {
	text-align: center;
}

.footer {
	text-align: center;
}

.footer:hover {
	color: green;
}


h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }