.content {
float: left;
}

.footer {
	clear: both;
	text-align: center;
}



.nav {
	text-align: center;
}



.container {
	width: 80%;
	margin: auto;
}

.container p {
	width: 50%;
	margin: auto;
}



.mainh1 {
	text-align: center;
}

nav li {
	list-style: none;
}

a:hover {
	color: pink;
}

